@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 245, 245, 245;
  --foreground-rgb: 0, 0, 0;
}

.dark {
  --background-start-rgb: 20, 20, 20;
  --background-end-rgb: 0, 0, 0;
  --foreground-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
